[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
sphinx = "*"
crate-docs-theme = "*"
f5-sphinx-theme = "*"
insegel = "*"
renku-sphinx-theme = "*"
sphinx-redactor-theme = "*"
sunpy-sphinx-theme = "*"
sphinx-readable-theme = "*"
"sphinxjp.themes.sphinxjp" = "*"

[requires]
python_version = "3.8"
